@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html * {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.logo {
    max-width: 40px;
}

.container-fluid {
    margin-top: -0.5rem;
    background-color: #7C4599;
}

.nav-link-custom {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.nav-link-custom:hover {
    color: #FFA500;
}

main {
    padding: 0 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.cabecario {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: #FF0000;
}

.instrucoes {
    background-color: #179e34;
    max-width: max-content;
    padding: 0.5rem;
    opacity: 90%;
    border: 1px solid #000;
    border-radius: 2px 20px 20px 2px;
    color: #fff;
}

.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-years {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.years {
    letter-spacing: 3px;
}

.history-line {
    background: #24EE50;
    background: -webkit-linear-gradient(right, #24EE50, #609ef0);
    background: -moz-linear-gradient(right, #24EE50, #609ef0);
    background: linear-gradient(to left, #24EE50, #609ef0);

    height: 3.5rem;
    width: 100%;
    padding: 0 1rem;
    border-radius: 2px 30px 30px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#history-point {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 3rem;
    height: 3rem;
    background-color: #8a0460;
    border: none;
}

.card-custom {
    max-width: 70%;
}

.title-card {
    color: #7C4599;
}

.card-button-close {
    background-color: #7C4599;
}

.card-button-close:hover {
    background-color: #994ec1;
}

.img-heman {
    max-width: 40%;
    border-radius: 10px;
    animation: go-back 2s;
    box-shadow: 7px 8px 4px -1px rgba(26, 1, 41, 0.75);
    -webkit-box-shadow: 7px 8px 4px -1px rgba(26, 1, 41, 0.75);
    -moz-box-shadow: 7px 8px 4px -1px rgba(26, 1, 41, 0.75);
}

@keyframes go-back {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}


/* _______Footer______________ */

footer {
    background-color: #1D0426;
    padding: 0.7rem 2rem 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    margin-top: 15.3rem;
}

.footer-cabecario {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-cabecario a {
    background-color: #FFA500;
    padding: 10px 14px;
    border-radius: 5px;
}

.seta-topo {
    max-width: 15px;
}

.footer-container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.footer-container-1-social {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-icone-social {
    max-width: 30px;
    transition: 0.3s all ease-in-out;
}

.footer-icone-social:hover {
    transform: scale(1.1);
}

.footer-container-2 {
    display: flex;
    justify-content: center;
}


@media (max-width: 260px) {
    .footer-cabecario a {
        display: none;
    }
}

@media (max-width: 576px) and (min-width: 362px) {
    .card-custom {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    .card-text-custom {
        font-size: 12px;
    }
}

@media (max-width: 361px) {
    .card-custom {
        max-width: 70%;
    }

    .card-text-custom {
        font-size: 10px;
    }

    .img-heman {
        border-radius: 1px;
    }
}

@media (max-width: 651px) {
    .history-line {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5rem;
        margin: 1rem;
        height: max-content;
        width: 4rem;
        padding: 0.5rem;
        border-radius: 2px 2px 30px 30px;
    }

    .container-principal {
        flex-direction: row;
    }

    .history-years {
        width: 4rem;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3rem;
    }

    main {
        gap: 2rem;
        align-items: center;
    }
}