@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

html * {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.container-fluid {
    background-color: #800080;
}

.nav-link-custom {
    color: #FFA500;
}

.logotipo {
    max-width: 40px;
}